############################
# Python
############################
__pycache__/
*.pyc
*.pyo
*.pyd

############################
# Virtual Environments
############################
pyvenv_3_11/
# venv/
# .env/

############################
# Logs
############################
*.log

############################
# Jupyter
############################
.ipynb_checkpoints/

############################
# Editors / IDE
############################
.vscode/
.idea/
*.swp
*.bak

############################
# OS junk
############################
.DS_Store
Thumbs.db


/home/rito/ju_lab/ks_lab/exp1/.venv

